body{
    background-image: url(./image/code.jpg);
    background-size: contain;
    align-items: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
h1{
    background-color: rgb(225, 0, 128);
    width: 40%;
    margin: auto;
    font-size: 25px;
    font-weight: 1200;
    color: black;
}
.container{
    padding: 30px;
}
.container button{
    background-color: rgb(2, 255, 23);
    height: 40px;
    margin-left: 30px;
    font-weight: 600;
    border-radius: 25px;
}
.box{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgb(77, 0, 38);
    width: 130px;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    margin: auto;
}
li{
    margin-bottom: 10px
}

.hidden{
    display: none;
}
@media (max-width: 320px){
  h1{
    background-color: rgb(225, 0, 128);
    width: 40%;
    margin: auto;
    font-size: 12px;
    font-weight: 6000;
    color: black;
  }
}
    
@media (max-width: 320px){
    .container button{
        background-color: rgb(2, 255, 23);
        height: 40px;
        margin-left: 30px;
        font-weight: 600;
        border-radius: 25px;
    }   
}































